{{template "base" .}}
{{define "title"}}Services{{end}}
{{define "main"}}

<div class='snippet'>
    <div class='metadata'>
    <strong>{{.Snippet.Title}}</strong>
    <span>#{{.Snippet.ID}}</span>
    </div>
    <pre><code>{{.Snippet.Content}}</code></pre>
    </div>
</div>

{{end}}